#!/bin/sh
#
# Copyright (c) 2008 Tama Communications Corporation
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# How to setup for Apache HTTP server.
#
# Copy this file to the system's CGI directory,
# so taht it can be executed by HTTP server.
#
# Example:
#	# mv ghtml.cgi /usr/local/apache/cgi-bin
#	# chmod +x /usr/local/apache/cgi-bin/ghtml.cgi
#
# Please check file 'HTML/.htaccess' too.
#
echo "content-type: text/html"
echo
gzip -S ghtml -d -c "$PATH_TRANSLATED"
